@using Microsoft.AspNet.Identity
@model PlanificacionLocal.Models.ManageUserViewModel
<body>
    <div class="content-wrapper">
        <section class="content-wrappercontenido main-content clear-fix">
            <link href="~/Content/Utileria/webgrid.css" rel="stylesheet" />
            <div class="cont_change_password">
                <hgroup class="title">
                    <h1>Administrar cuenta</h1>
                </hgroup>
                <div class="">
                    <h3>
                        Cambiar contraseña a
                        <strong>@Html.Name(User.Identity.GetUserName())</strong>
                    </h3>
                    @using (Html.BeginForm("Manage", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="validation-summary-valid" data-valmsg-sumary="true"></div>
                        <ul>
                            <li style="display:none">@Html.ValidationMessageFor(m => m.OldPassword)</li>
                            <li style="display:none">@Html.ValidationMessageFor(m => m.NewPassword)</li>
                            <li style="display:none">@Html.ValidationMessageFor(m => m.ConfirmPassword)</li>
                        </ul>
                        <fieldset class="form_passwords">
                            <legend>Formulario de cambio de contraseña</legend>
                            <ol>
                                <li>
                                    <label for="OldPassword">Contraseña actual</label>
                                    @Html.PasswordFor(m => m.OldPassword)
                                </li>
                                <li>
                                    <label for="NewPassword">Nueva contraseña</label>
                                    @Html.PasswordFor(m => m.NewPassword)
                                </li>
                                <li>
                                    <label for="ConfirmPassword">Confirmar la nueva contraseña</label>
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                </li>
                            </ol>
                            <div class="cont_change_password_botton">
                                <input type="submit" value="Cambiar contraseña" />
                            </div>
                        </fieldset>
                    }
                </div>
                <script>
                    $(function () {
                        $('.form_passwords input[type=password],.form_passwords input[type=submit]').on('keydown', function (e) {
                            if (e.keyCode == 13) {
                                e.preventDefault();
                            }
                        });
                    });
                </script>
            </div>
            <p></p>
            <p></p>
        </section>
    </div>
</body>
@*<p>Ha iniciado sesión como <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Formulario para cambiar contraseña</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cambiar contraseña" class="btn btn-default" />
        </div>
    </div>
}*@
